* {
    font-family: monospace;
}

h1 {
    color: white;
    background-color: black;
}

h2 {
    color: white;
    background-color: purple;
    text-align: center;
    font-style: italic;
}

h3 {
    color: black;
    background-color: skyblue;
    text-align: right;
    text-decoration: underline;
}

#blue-color {
    color: cyan;
}